body{
    margin: 0 auto;
}

.grid-contenedor{
    display: grid;
    grid-template-columns: 50px 230px auto;
    /* gap: 7px; */
    /* height: 500px; */
    width: 100%;
    /* position: fixed; */
    /* top: 0; */
    

}

.grid-contenedor > div{
    border: solid 2px green;
}

.item1{
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #333842;
    position: fixed;
   
   
    
}
.item2{
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #282c34;   
    position: fixed;
    
}

.item2 li{
    list-style: none;
}
.item2 ul{
    padding-left: 5px;
}
.item3{
    background-color: #333842;
    /* height: 10vh; vh es el equivalente a porcentaje dentro de la pantalla */
    position: fixed;
   
    
}
.item4{
    background-color: #1d2026;
    /* position: fixed; */
     

}



.mi_color{
    color: rgb(197, 201, 199);
    font-family: 'calibri', 'verdana';
    font-size: 50px;
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
}

li>a{
    font-family: 'calibri', 'verdana';
    font-size: 19px;
    text-decoration: none;
    /* list-style: none; */
}

/* unvisited link */
a:link {
    color: rgb(248, 234, 234);
}

/* visited link */
a:visited {
    color: rgb(180, 11, 166);
}

/* mouse over link */
a:hover {
    color: rgb(43, 223, 223);
}

/* selected link */
a:active {
    /* color: blue; */
}


