.grid-contenedor{
    display: grid;
    grid-template-columns: 50px 150px auto;
    gap: 7px;
}

.grid-contenedor > div{
    border: solid 2px;
}

.item1{
    grid-row-start: 1;
    grid-row-end: 3;

}
.item2{
    grid-row-start: 1;
    grid-row-end: 3;
}
.item4{
    height: 400px;
}
.item5{
   grid-column-start: 1;
   grid-column-end: 4;
}


.mi_color{
    color: red;
}

li>a{
    font-family: 'calibri', 'verdana';
    font-size: 19px;
    text-decoration: none;
    /* list-style: none; */
}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: rgb(180, 11, 166);
}

/* mouse over link */
a:hover {
    color: rgb(43, 223, 223);
}

/* selected link */
a:active {
    color: blue;
}

