body{
    margin: 0 auto;
    background-color: #1d2026;
}

.contenedor{
    box-sizing: border-box;

}

    .item1{
        position: fixed;
        background-color: #3c4047; 
        height: 100vh;
        width: 50px;
        left: 0px;
        top: 0px; 
        /* color pruebas */
        /* background-color: red;  */
        /* color real */
    }

    .item1 .pdf{
        width: 37px;
        display:block;
        margin:auto;
        margin-top: 20px;
        /* background-color: green; */
    }
    .item1 .git{
       width: 32px;
       display:block;
       margin:auto;
       margin-top: 20px;
       /* background-color: green; */

    }

.item2{
    position: fixed;
    background-color: #282c34;
    height: 100vh;
    width: 230px;
    left: 50px;
    top: 0px;
    border-right: 3px solid;
    /* color pruebas */
    /* background-color: blue;  */
    /* color real */
    
}

.item2 ul{
    padding: 0px;
    list-style-type: none;
    /* padding-left: 10px; */
}
.item2 li{
    margin: 10px 0px 10px 0px;
}

.span1{
    font-size: 12px;
}

.item2 a{
    font-family: helvetica;
    font-size: 16.5px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    
}

.item2 a:link {
    color: #a3aeb3;
    text-decoration: none;
}

.item2 a:visited {
    color: #a3aeb3;
}

.item2 a:hover {
    color: #ddeef7;
    /* text-decoration: underline; */
}

.item2 a:active {
    color: #a3aeb3;
} 

/* .item2 a:focus{
    color: #00ffffbe;
} */
.container2{
    background-color: #3c4047;
    padding: 10px 0px 10px 0px;
}

.text1, .text2{
       
    font-family: verdana;
    color: white;
   }

   .text1{
    font-size: 14.3px;
    margin: 11px 0px 10px 11px;
    /* display: inline-block; */
   }
   .text2{
    display: inline-block;
    font-size: 15.5px;
    background-color: #3c4047;
    margin-left: 5px;
   }

    .item3{
        position: fixed;
        background-color: #3c4047;  
        height: auto;
        width: 100%;
        left: 280px;
        top: 0px;
        box-sizing: border-box;
        /* width: fit-content; */
        /* right: 0px; */
        /* color pruebas */
        /* background-color: green;  */
        /* color real */
        
    }

   .img1{
        height: 20px;                                                            
   }
   
    .img4{
        display: inline-block;
        height: 16px;
        margin-left: 15px;
    }

    .style1{
        display: grid;
        grid-template-columns: 70px 100px auto;
        /* gap: 10px; */
        /* background-color: yellowgreen; */
    }

    .style1 a:link{
        color: white;
        text-decoration: none;
    }
    .style1 a:hover{
        color: white;
        text-decoration: none;
    }
    .style1 a:visited{
        color: white;
        text-decoration: none;
    }
    .style1 a:active{
        color: white;
        text-decoration: none;
    }

    .style2{
        background-color: rgb(46, 44, 59);
        font-family: verdana;
        font-size: 13px;
        border-bottom: 3px solid black;
        padding: 3px 0px 3px 0px;
        /* height: 21px; */
    }

   

    #proyects{
        display: none;
    }

    .est1{
        display: grid;
        grid-template-columns: auto auto;
        padding: 6px 0px 6px 0px;
        /* background-color: green; */
        
        
    }

    .est2{
        margin-top: 4px;
        font-family: arial;
        /* display: inline-block; */
    }


    .s1{
        margin-left: 5px;
        /* display: inline-block; */
    }

  

     .s2{
         margin-left: 8px;
         /* display: inline-block; */
    }

   

    .s3{
        margin-left: 8px;
        /* background-color: blue; */
    }
    .s4{
        margin-left: 2px;
        /* background-color: red; */
    }

  

.item4{
    margin-left: 280px;
    margin-top: 70px;  
    /* color pruebas */
    /* background-color: yellowgreen;  */
}

#show{
    color: #E8F3F8;
    margin-left: 5px;
}

.class_button1{
    background-color: black;
    border-bottom: 2px solid white;
}
.class_li1{
    background-color: #3c4047;
}
.class_link1{
    color: #ec0a0a;
    /* background-color: yellow; */
}

.modal_origin1{
    display: none;
}
.modal_origin2{
display: none;
}

.modal-transparent-toggle{
    display: block;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(99, 102, 99, 0.5);
    height: 100vh;
    width: 100%;
}

.modal-no-transparent-toggle{
    display: block;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    /* background-color: rgb(80, 28, 223); */
    height: 100vh;
    width: 70%;
    color: white;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.modal-no-transparent-toggle a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}


#menu2{
    display: none;
    grid-template-columns: auto;
    justify-content: end;
}

#menu2 a{
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    
}

#menu2 a div:nth-child(1){
    padding-right: 2px;
    /* background-color: yellow; */
   
}

#menu2 a div:nth-child(2){
    padding-right: 300px;
    /* background-color: green; */
}

.modal_toggle1{
    background-image: url("../img/menu.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    /* display: none; */
    /* background-color: red; */
}

.modal_toggle2{
    background-image: url("../img/close.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    /* display: none; */
    /* background-color: red; */
}

#modal1{
    /* background-color: green; */
    padding-top: 0;
    padding-left: 10px;
    
}

#modal1 h1{
    color: #ffa100;
    font-family: Arial, Helvetica, sans-serif;
}


#modal1 div:nth-child(1){
    display: grid;
    /* background-color: aqua; */
    justify-content: end;
    /* float: right; */
}

#modal1 img{
    padding-right: 7px;
    padding-top: 7px;
    /* padding-right: 100px; */
    /* margin: 0 auto; */
    display: block;
    /* float: right; */
    
    width: 30px;
    height: 30px;
    /* background-color: #ec0a0a; */
}

#modal1 p{
    color: #f54495;
    font-family: monospace;
    font-size: 18px;
}
@media only screen and (max-width: 800px) {
    .item1, .item2{
        display: none;
    }

    .item3{
        left: 0px;
    }

    .item4{
        margin-left: 0px;
    }

    #menu2 a div:nth-child(2){
        padding-right: 10px;
        /* background-color: green; */
    }

    #menu2{
        display: grid;
    }


   
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {} */