/*  puse el estilo de tipografia aca porque no me toma bien desde inicio.html */
/*         
    font-family: 'gill sans mt';
    font-family: 'calibri';
    font-family: 'verdana';
    font-family: 'arial';
    font-family: 'Helvetica';

*/

/* 

margen: 25px 50px 75px 100px;

margen superior es 25px
margen derecho es 50px
margen inferior es 75px
margen izquierdo es 100px

*/
 .titulo1{
    color: #E8F3F8;
    text-align: center;
    font-size: 43px;
    font-family: 'Helvetica';
    font-weight: 540;
    margin: 80px 0px 0px 0px;
}

.titulo2{
    color: #E8F3F8;
    font-size: 27px;
    font-family: 'arial';
    font-weight: 500;
    margin: 30px 0px 30px 45px;
    
}

.titulo3{
    color: #E8F3F8;
    font-size: 16px;
    font-family: 'arial';
    font-weight: 100;
    margin: 30px 60px 30px 60px;
}

    hr{
        width: 91%;
        border-color: gray;
    }

.color1{
    color: white;
    font-family: 'arial';
    font-size: 16px;
    font-weight: bold;
}

.color2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 30px 0px 30px 45px;

}
    /* unvisited link */
   .color2 a:link {
        color: #f54495;
        text-decoration: none;
    }

    /* visited link */
    .color2 a:visited {
        color:#f54495;
    }

    /* mouse over link */
    .color2 a:hover {
        color: #f54495;
        text-decoration: underline;
    }

    /* selected link */
    .color2 a:active {
        color: #f54495;
    }

    .container-profile{
        display: grid;
        grid-template-columns: 75% 25%;
    }

    .profile-1{
        /* width: 100px; */
        /* height: 100px; */
        /* background-color: red; */
    }

    .profile-2{
        /* width: 100px; */
        /* height: 100px; */
        /* background-color: yellow; */
    }

    .profile-2 img{
        margin-top: 200px;
        border-radius: 10px;
    }
